html,
body,
.App {
  height: 100vh;
  background: black;
  padding: 1em;
}

/* Messages */
.messages {
  height: 62vh;
  overflow-y: scroll;
}

.messages__progress {
  height: 58vh;
  overflow-y: scroll;
}

/* Messages form */
.message__form {
  position: fixed !important;
  bottom: 3em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}

/* message .js */
.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message__image {
  padding: 1em;
}

/* progress BAr */
.progress__bar {
  margin: 0.3em 0 0 0 !important;
}

/* side Panel channel  */
.menu {
  padding-bottom: 2em;
}